* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}

body {
    font-family: "Work Sans";
}

.parent {
    background-color: dimgray;
}

.container {
    margin-right: 30px;
    margin-left: 30px;
}

/* start components  */
.special-heading {
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -3px;

}

/* End components  */

/* header  */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;

}

.header .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 3px;

}

.header .links .icon span:first-child {
    width: 30px;

}

.header .links .icon span:nth-child(2) {
    width: 20px;
    transition: .3s;
}

.header .links .icon span:nth-child(3) {

    width: 30px;

}

.header .links .icon:hover span:nth-child(2) {
    width: 30px;

}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    display: none;
    top: calc(100% + 20px);
    background-color: #eee;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #222;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid;
    border-color: #222;
}

/* landing section */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.landing .intro h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: var(--main-color);

}

.landing .intro p {
    text-align: center;
    margin: 20px;
}



/* end landing section  */
/* start features ::selection */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    background-color: #eee;

}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    align-items: center;

}

.features .container .feat {
    padding: 50px;


    text-align: center;
}

.features .feat p {
    line-height: 1.8;
}

.features .container .feat i {
    color: var(--main-color);
}

/* end features section  */

/* start services section  */
.special-heading+p {
    text-align: center;
    margin-top: -98px;
    font-size: 20px;
    color: #797979;
}

.services {
    padding: 60px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
    margin-left: 210px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .srv h3 {
    margin-top: 5px;
    margin-left: 15px;
}

.services .services-content .srv p {
    line-height: 1.8;
}

.services .services-content .col .srv i {
    color: var(--main-color);
    display: inline-block
}
.services .services-content .col .image img
{
    height: 380px;
    
}
.services .services-content .col .image
{
    position: relative;
}
.services .services-content .col .image::before
{
    content:"";
    background-color:var(--secondary-color);
    width: 80px;
    height: 120%; 
    position: absolute;
    
   top: -10%;
   right: 30px;
   z-index: -1;
}


/* end services section  */
/* start portfolio section  */
.portfolio
{
    background-color:#f6f6f6;
    padding: 60px;
}

.portfolio .container .portfolio-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 10px;
    margin-left: 30px;
}
.portfolio .container .col img
{
    width: 300px;
}
.portfolio .container .col 
{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: white;
    
    
}
.portfolio .container .col p
{
    color: var(--secondary-color);
    line-height: 1.8;
   
}
/* end portfolio section  */
/* start about section  */
.about .container .about-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 40px;
    margin-left: 150px;
    margin-top:100px;
}

.about .container .about-content .col img
{
    height: 400px;
   
    
}


.about .container .about-content .col p
{
    margin-top: 100px;
    margin-left: 40px;
    line-height: 1.5;
    width: 600px;
}
.about .container .about-content .col p:first-child
{

    font-weight: bold;
}
/* end about section  */
/* start contact section  */
.contact 
{
    background-color: #f6f6f6;
    padding: 15px;
}
.contact .container .text p
{
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 0cm;
    text-align: center;
    
}
.contact .container .text a
{
    text-decoration: none;
    color: var(--main-color);
    text-align: center;
    display: block;
    font-weight: 800;
    font-size: 35px;

}

.contact .container .social 
{
   
    text-align: center;
    color: var(--secondary-color);
    margin-top: 5px;
    padding-bottom: 100px;
}
/* end contact section  */
.footer
{
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
    
}
.footer .container
{
    color: white;
    font-size: 18px;
}
.footer .container span
{
    color: var(--main-color);
    font-weight: bold;
}
